<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_736e4ca95de94ee69efe98e5c0d6c561 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_736e4ca95de94ee69efe98e5c0d6c561" ></div>
        
</body>
<script>    
    
            var map_736e4ca95de94ee69efe98e5c0d6c561 = L.map(
                "map_736e4ca95de94ee69efe98e5c0d6c561",
                {
                    center: [49.841952, 24.0315921],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_689067c167044a18850a2185164ead6e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_736e4ca95de94ee69efe98e5c0d6c561);
        
    
            var feature_group_bb68a145d66f447d91d381caa7b04db8 = L.featureGroup(
                {}
            ).addTo(map_736e4ca95de94ee69efe98e5c0d6c561);
        
    
            var marker_b6d2c8683eca4138963e97a3a3839b17 = L.marker(
                [49.4871968, 31.2718321],
                {"color": "green"}
            ).addTo(feature_group_bb68a145d66f447d91d381caa7b04db8);
        
    
            var icon_32bb4ecc7e284e118efc44903723755b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b6d2c8683eca4138963e97a3a3839b17.setIcon(icon_32bb4ecc7e284e118efc44903723755b);
        
    
        var popup_aa9749b2340e4ddba2c6322af76b9694 = L.popup({"maxWidth": "100%"});

        
            var html_3854c93be1d6497eb019fb709baf9038 = $(`<div id="html_3854c93be1d6497eb019fb709baf9038" style="width: 100.0%; height: 100.0%;">List of friends with this location: Maxymilian</div>`)[0];
            popup_aa9749b2340e4ddba2c6322af76b9694.setContent(html_3854c93be1d6497eb019fb709baf9038);
        

        marker_b6d2c8683eca4138963e97a3a3839b17.bindPopup(popup_aa9749b2340e4ddba2c6322af76b9694)
        ;

        
    
    
            var marker_053ef13cdd6e4528be7653cf43bd30bd = L.marker(
                [38.562779, 16.2099],
                {"color": "green"}
            ).addTo(feature_group_bb68a145d66f447d91d381caa7b04db8);
        
    
            var icon_bfc11dc1003e408caa26797e71cf228a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_053ef13cdd6e4528be7653cf43bd30bd.setIcon(icon_bfc11dc1003e408caa26797e71cf228a);
        
    
        var popup_114a679779c5449caf5e2389b5504e91 = L.popup({"maxWidth": "100%"});

        
            var html_ce2bc477a08a4672ad15a9bd6e22ee98 = $(`<div id="html_ce2bc477a08a4672ad15a9bd6e22ee98" style="width: 100.0%; height: 100.0%;">List of friends with this location: Clash Royale</div>`)[0];
            popup_114a679779c5449caf5e2389b5504e91.setContent(html_ce2bc477a08a4672ad15a9bd6e22ee98);
        

        marker_053ef13cdd6e4528be7653cf43bd30bd.bindPopup(popup_114a679779c5449caf5e2389b5504e91)
        ;

        
    
    
            var marker_ee0d3cbb66744a029ba177268a23e658 = L.marker(
                [60.1674098, 24.9425769],
                {"color": "green"}
            ).addTo(feature_group_bb68a145d66f447d91d381caa7b04db8);
        
    
            var icon_a9b312ba558d44dd864191fa558ee4ca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ee0d3cbb66744a029ba177268a23e658.setIcon(icon_a9b312ba558d44dd864191fa558ee4ca);
        
    
        var popup_8195f8b1c3ab4ae984c2e20db9760c83 = L.popup({"maxWidth": "100%"});

        
            var html_27990b5e302641d8abb7f4d7c3b117e6 = $(`<div id="html_27990b5e302641d8abb7f4d7c3b117e6" style="width: 100.0%; height: 100.0%;">List of friends with this location: Supercell</div>`)[0];
            popup_8195f8b1c3ab4ae984c2e20db9760c83.setContent(html_27990b5e302641d8abb7f4d7c3b117e6);
        

        marker_ee0d3cbb66744a029ba177268a23e658.bindPopup(popup_8195f8b1c3ab4ae984c2e20db9760c83)
        ;

        
    
</script>